html,
body,
div,
p,
figure,
ul,
a,
h1,
h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #000000;
  --main-txt-color: #ff82a9;
  --secundary-txt-color: #7f95d1;
}

body {
  background-color: var(--bg-color);
  color: var(--main-txt-color);
  text-align: center;
  font-family: "Press Start 2P", cursive;
  cursor: url(./img/cursor.png), auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button,
a,
td {
  cursor: url(./img/pointer.png), auto;
}

::selection {
  background-color: #ffc0be;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.hidden {
  display: none;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.highlight {
  font-size: 1.5rem;
  color: #ffc0be;
  text-shadow: 1px 1px var(--secundary-txt-color);
}

h1 {
  text-shadow: 2px 2px #ffc0be;
  line-height: 1.5;
}

nav span#menu {
  cursor: url(./img/pointer.png), auto;
}
nav span i.fa-gamepad {
  font-size: 1.5rem;
  padding-right: 10px;
}

nav ul {
  margin-top: 1rem;
}
nav ul li {
  margin-bottom: 0.6rem;
}
nav ul li a {
  font-family: "Press Start 2P", cursive;
  color: var(--secundary-txt-color);
  line-height: 1.5;
  transition: all 500ms ease-in-out;
}

nav ul li a:hover {
  color: var(--main-txt-color);
}
#container {
  flex-grow: 1;
  padding: 0 10px;
  margin: 0 auto;
}
h2 {
  color: #ffc0be;
  text-shadow: 2px 2px var(--main-txt-color);
  line-height: 1.5;
}
#jokempo ul {
  display: flex;
  justify-content: center;
  gap: 6px;
}
#jokempo ul li figure img {
  height: 64px;
  width: 64px;
  object-fit: contain;
  cursor: url(./img/pointer.png), auto;
  border: 2px solid var(--main-txt-color);
  transition: all 500ms ease-in-out;
}

#jokempo ul li figure img:hover {
  border: 2px solid var(--secundary-txt-color);
}

#result {
  line-height: 1.5;
}
div#magic p {
  line-height: 1.5;
}
img#magic-ball {
  width: 150px;
  cursor: url(./img/pointer.png), auto;
  filter: drop-shadow(0 0 0.5rem rgb(243, 42, 119));
  transition: all 500ms ease-in-out;
}

img#magic-ball:hover {
  transform: rotate(45deg);
}

div#nickel ul {
  display: flex;
  justify-content: center;
  gap: 12px;
}
div#nickel ul li {
  background-color: #ffc0be;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 4px 2px;
}
div#nickel ul li img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.spin {
  animation: spin 300ms linear forwards;
}

button#start,
button#start2 {
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  text-shadow: 1px 1px #ffc0be;
  background-color: var(--main-txt-color);
  color: var(--secundary-txt-color);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px #ffc0be;
  line-height: 1.5;
}

button#start:hover,
button#start2:hover {
  box-shadow: 2px 2px var(--secundary-txt-color);
}

p#prize,
p#timer,
h3 {
  line-height: 1.5;
}

p#timer {
  text-shadow: 1px 1px #ffc0be;
  font-size: 18px;
}

div#find-words {
  font-size: 15px;
  cursor: url(./img/grab.apng), auto;
  text-transform: uppercase;
}

div#find-words p span::selection {
  color: var(--secundary-txt-color);
}

p#gratz {
  background-color: var(--secundary-txt-color);
  line-height: 1.5;
  padding: 10px;
  text-shadow: 1px 1px #ffc0be;
  margin: 100px auto 0;
  max-width: 700px;
}

h3 {
  font-size: 1rem;
  color: var(--secundary-txt-color);
  text-shadow: 1px 1px var(--main-txt-color);
}

td {
  border: 1px solid var(--main-txt-color);
  width: 33%;
  height: 33%;
  text-align: center;
  font-size: 2.5rem;
  transition: all 1s ease-in-out;
}

td:hover {
  background: var(--secundary-txt-color);
}

table {
  border: 1px solid #ffc0be;
  width: 250px;
  height: 250px;
}

div#results {
  background-color: var(--secundary-txt-color);
  max-width: 700px;
}

div#results p {
  text-shadow: 1px 1px #ffc0be;
  padding: 5px;
  line-height: 1.5;
}

@keyframes spin {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

@media screen and (min-width: 768px) {
  .highlight {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  nav span#menu {
    display: none;
  }
  nav ul#menu-list {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
  }
  div#container p {
    font-size: 1.5rem;
  }
  #jokempo ul li figure img {
    height: 132px;
    width: 132px;
  }
  div#nickel ul li {
    width: 140px;
    height: 140px;
  }
  p#gratz {
    font-size: 1.8rem;
    padding: 20px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
}