html, body, div, figure, ul, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #000000;
    --main-txt-color: #FF82A9;
    --secundary-txt-color: #7F95D1;
}

body {
    background-color: var(--bg-color);
    color: var(--main-txt-color);
    text-align: center;
    padding: 10px 0;
    font-family: 'Press Start 2P', cursive;
}

::selection {
    background-color: #FFC0BE;
}

.hidden {
    display: none;
}

.green {
   color: green;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

    h1 {
        text-shadow: 2px 2px #FFC0BE;
        line-height: 1.5;
    }
    nav span#menu {
        cursor: pointer;
    }
            nav span i.fa-gamepad {
            font-size: 1.5rem;
            padding-right: 10px;
        }

        nav ul {
            margin-top: 1rem;
        }
            nav ul li {
                margin-bottom: 0.6rem;
            }
                nav ul li a {
                    font-family: 'Press Start 2P', cursive;
                    color: var(--secundary-txt-color);
                    line-height: 1.5;
                    transition: all 500ms ease-in-out;
                }
           
                nav ul li a:hover {
                    color: var(--main-txt-color);
    
                }
    #container {
        margin-top: 40px;
        padding: 0 10px;
        line-height: 1.5;
    }
            h2 {
                color: #FFC0BE;
                margin-bottom: 40px;
                text-shadow: 2px 2px var(--main-txt-color);
                line-height: 1.5;
            }
        #jokempo ul {
            display: flex;
            justify-content: center;
        }
            #jokempo ul li figure {
                margin: 0 5px;
            }
                #jokempo ul li figure img{
                    cursor: pointer;
                    border: 2px solid var(--main-txt-color);
                    transition: all 500ms ease-in-out;
                }

                #jokempo ul li figure img:hover {
                    border: 2px solid var(--secundary-txt-color);
                }

            #result {
                margin-top: 30px;
        
            }
        img#magic-ball {
            width: 150px;
            cursor: pointer;
         
        
            transition: all 500ms ease-in-out;
        }

        img#magic-ball:hover {
            transform: rotate(45deg);
        }

    div#nickel ul {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    } 
        div#nickel ul li {
            background-color: #FFC0BE;
            width: 80px;
            height: 80px;
            margin: 0 5px;
            display: flex;
            justify-content: center;
        }

    button#start, button#start2 {
        font-size: 1rem;
        font-family: 'Press Start 2P', cursive;
        font-weight: bold;
        text-shadow: 1px 1px #FFC0BE;
        background-color: var(--main-txt-color);
        color: var(--secundary-txt-color);
        cursor: pointer;
        border: none;
        outline: none;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 2px 2px #FFC0BE;
        margin-bottom: 10px;
    }

    button#start:hover, button#start2:hover  {
        box-shadow: 2px 2px var(--secundary-txt-color);
    }

    p#timer {
        text-shadow: 1px 1px #FFC0BE;
    }

    div#find-words {
        font-size: 15px;
        cursor: grab;
        text-transform: uppercase;
    }

    div#find-words::selection {
        color: var(--secundary-txt-color);
    }

    